<div class="d-flex flex-column justify-content-center px-5 py-5 my-5">
    <h2 class="text-center">Longest Substring</h2>
    <p class="text-center">
        Check the longest substring of the enterd string and it's length.
    </p>
    <%= render "form" %>
</div>