<div class="d-flex flex-column align-items-center my-5">
    <h1>Longest Substring</h1>
    <p>This is an example app created for explanation. The wwhole purpose of the app is to allow wa user to find the longest substring with repeating characters. </p>
</div>